body {
    background-color: #F1F0FF;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1200px;
    margin: auto;
}

h1 {
    font-weight: 700;
    color: #4F1060;
    margin-bottom: 30px;
}

.table {
    background-color: #FFFFFF;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table thead {
    background-color: #7F95E4;
    color: #FFFFFF;
}

.table td, .table th {
    vertical-align: middle;
    text-align: center;
}

.table td {
    color: #4F1060;
}

.btn-primary.btn-sm, .btn-secondary.btn-sm {
    font-size: 0.875rem;
    padding: 5px 10px;
    width: 150px; /* Ensure buttons are the same size */
    margin: 5px 2px; /* Add gap between buttons */
}

.btn-primary.btn-sm {
    background-color: #007bff;
    border: none;
    color: #FFFFFF;
    font-weight: 700;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-primary.btn-sm:hover {
    background-color: #0056b3;
}

.btn-secondary.btn-sm {
    background-color: #6c757d;
    border: none;
    color: #FFFFFF;
    font-weight: 700;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-secondary.btn-sm:hover {
    background-color: #545b62;
}

.action-btn {
    display: inline-block;
    margin: 0 2px;
}
