body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.left-side {
    flex: 1;
    background-color: #F1F0FF;
    position: relative;
    padding: 20px;
}

.right-side {
    flex: 1;
    background-color: #7F95E4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-container {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
}

.logo-container img {
    width: 80px;
    margin-right: 10px;
}

.logo-container h1 {
    color: #1C2120;
    font-family: 'Gotham', sans-serif;
    font-size: 28px;
    margin: 0;
}

.background-image {
    display: block;
    margin: auto;
    max-width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.right-side h2 {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 32px;
    margin-bottom: 20px; /* Adjusted margin for better spacing */
}

.right-side p {
    color: #FFFFFF;
    font-size: 14px;
    margin-bottom: 20px; /* Adjusted margin for better spacing */
}

.form-container {
    text-align: center; /* Center aligning the form */
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 300px; /* Adjusted width for better presentation */
}

.form-container label {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.form-container input[type="email"],
.form-container input[type="password"] {
    width: calc(100% - 16px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #FFFFFF;
    outline: none;
    text-align: left;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.form-container input[type="email"]:focus,
.form-container input[type="password"]:focus {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container input[type="checkbox"] {
    margin-right: 5px;
}

.form-container button {
    padding: 12px 24px;
    border: none;
    border-radius: 20px;
    background-color: #443266;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-container button:hover {
    background-color: #352751;
}
