body {
    background-color: #f1f0ff;
    font-family: 'Arial', sans-serif;
}

.form-card {
    border: none;
    border-radius: 15px;
    background-color: #667abe;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.form-header {
    background-color: #4f1060;
    color: #f1f0ff;
    font-size: 2rem;
    padding: 1.5rem;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.form-group label {
    color: #f1f0ff;
    font-size: 1.2rem;
}

.form-control {
    border-radius: 8px;
    border: 2px solid #4b0e63;
    font-size: 1rem;
    background-color: #f1f0ff;
    color: #4b0e63;
}

.submit-btn {
    background-color: #b20769;
    color: #f1f0ff;
    border: none;
    border-radius: 8px;
    padding: 0.75rem 1.5rem;
    font-size: 1.5rem;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #4b0e63;
}

.form-control::placeholder {
    color: #aaaaaa;
}
